@import url("https://fonts.googleapis.com/css2?family=Outfit&family=PT+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

body {
  margin: 0;
  /* font-family: "PT Mono", monospace !important; */
  /* font-family: "VT323", monospace !important; */
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-size-adjust: 0.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(4, 127, 243), rgb(32, 32, 49));
}

.text-primary{
  color: #70bbf0 !important;
}

.bg-primary{
  background-color: #06f2ab !important;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f2f4f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(3, 252, 252, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(5, 232, 232, 0.911);
  border-radius: 12px;
}

/* 👋🏻 wave animation */

@keyframes wave-animation {
   0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); } /* The following five values can be played with to make the waving more or less extreme */
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); } /* Reset for the last half to pause */
 100% { transform: rotate(0deg); }
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: #70bbf0 !important;
  font-weight: 600 !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: #70bbf0 !important;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
}
